@model PROJECT_2024.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>viewCustomer</title>
</head>
<body>
    <div>
        The next Line was Edded Seccesfull to DB:
        <br />
        First Name:@Model.Name
        <br />
        Last Name:@Model.Email
        <br />
        Password:@Model.Password
        <br />
        Confirm Password:@Model.ConfirmPassword
        <br />
        Phone:@Model.Phone
        <br />
    </div>
</body>
</html>
