@import url(https://fonts.googleapis.com/css?family=Squada+One);


.search {
    position: relative;
    z-index: 10;
    text-align: center;
}

    .search input[type="text"] {
        width: 400px;
        padding: 5px;
        font-size: 1.3em;
        margin: 1em auto 0px;
        display: block;
        box-shadow: 1px 1px 0px #2c9d75, 2px 2px 0px #2c9d75, 3px 3px 0px #2c9d75, 4px 4px 0px #2c9d75, 5px 5px 0px #2c9d75, 6px 6px 0px #2c9d75, 7px 7px 0px #2c9d75, 8px 8px 0px #2c9d75, 9px 9px 0px #2c9d75, 10px 10px 0px #2c9d75, 11px 11px 0px #2c9d75, 12px 12px 0px #2c9d75, 13px 13px 0px #2c9d75, 14px 14px 0px #2c9d75, 15px 15px 0px #2c9d75, 16px 16px 0px #2c9d75, 17px 17px 0px #2c9d75, 18px 18px 0px #2c9d75, 19px 19px 0px #2c9d75, 20px 20px 0px #2c9d75, 21px 21px 0px #2c9d75, 22px 22px 0px #2c9d75, 23px 23px 0px #2c9d75, 24px 24px 0px #2c9d75, 25px 25px 0px #2c9d75, 26px 26px 0px #2c9d75, 27px 27px 0px #2c9d75, 28px 28px 0px #2c9d75, 29px 29px 0px #2c9d75, 30px 30px 0px #2c9d75;
        border: 3px solid #4abb93;
        outline: 0;
    }

        .search input[type="text"]:focus {
            border: 3px solid #63d4ac;
        }

    .search button {
        background: #63d4ac;
        border: 3px solid #4abb93;
        font-size: 1.5em;
        font-family: "Squada One", cursive;
        color: #ffffff;
        box-shadow: 1px 1px 0px #2c9d75, 2px 2px 0px #2c9d75, 3px 3px 0px #2c9d75, 4px 4px 0px #2c9d75, 5px 5px 0px #2c9d75, 6px 6px 0px #2c9d75, 7px 7px 0px #2c9d75, 8px 8px 0px #2c9d75, 9px 9px 0px #2c9d75, 10px 10px 0px #2c9d75, 11px 11px 0px #2c9d75, 12px 12px 0px #2c9d75, 13px 13px 0px #2c9d75, 14px 14px 0px #2c9d75, 15px 15px 0px #2c9d75, 16px 16px 0px #2c9d75, 17px 17px 0px #2c9d75, 18px 18px 0px #2c9d75, 19px 19px 0px #2c9d75, 20px 20px 0px #2c9d75, 21px 21px 0px #2c9d75, 22px 22px 0px #2c9d75, 23px 23px 0px #2c9d75, 24px 24px 0px #2c9d75, 25px 25px 0px #2c9d75, 26px 26px 0px #2c9d75, 27px 27px 0px #2c9d75, 28px 28px 0px #2c9d75, 29px 29px 0px #2c9d75, 30px 30px 0px #2c9d75;
        cursor: pointer;
        display: inline-block;
        margin: 3px 5px;
    }

        .search button:active {
            margin: 8px 5px;
        }

    .search .button {
        *zoom: 1;
        margin: 0.5em auto;
        width: 16%;
    }

        .search .button:after {
            content: "";
            display: table;
            clear: both;
        }

        .search .button button {
            float: left;
        }
